[mysqld]

# path of database storage (default)
datadir = /var/lib/mysql

# Path of socket file for local client-server communication
socket = /run/mysqld/mysqld.socket

# Accept connections from any IP address
bind_address=*

# Port to listen on for MySQL/MariaDB connections (default)
port=3306

# User under which the MariaDB process runs
user = mysql
